.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #333;
    color: #fff;
}
.footer1 img {
    max-width: 100px;
    height: auto;
    display: block;
}

.footer2 {
    text-align: right;
    font-size: 0.9em;
    line-height: 1.5;
}
